@page
@model GameQuest.Pages.Account.RegisterModel
@{
}



@*<form asp-page-handler="RegisterAccount" method="post">

    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="confirmPassword" placeholder="Confrim password" />

    <input type="checkbox" name="rememberMe" placeholder="RememberME" value="RememberMe">


    <button class="btn btn-orange">Create Account</button>
    <br />
    @ViewData["message"]
</form>*@


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-center">
        <div class="formContainer">
            <center>
                <div class="formHeader">
                    <i class="fas fa-user large-icon"></i>
                </div>
            </center>
            <div class="formBody">
                <form asp-page-handler="RegisterAccount" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confrim password" />
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" name="rememberMe" placeholder="RememberME" value="RememberMe">
                        <label class="form-check-label checbox-large-label" for="exampleCheck1">Keep me signed in!</label>
                    </div>
                    <button type="submit" class="btn btn-orange">Register</button>

                    <span style="color: red;">@ViewData["message"]</span>

                </form>
            </div>
        </div>
    </div>
</div>