@page "{productId}"
@model GameQuest.Pages.Products.Item.IndexModel


@{

    if (Model._product is not null)
    {
        <h1>@Model._product.Name</h1>
        <h6>@Model._product.Price</h6>
        
        <div>
            <p>
                <img src="@Model._product.ImgUrl" alt="" class="img-fluid float-left imageCoursel" />
                @Model._product.Description
            </p>


        </div>

    }
    else
    { 
    
        <span>No Product Found!</span>
    
    }

}
