@page "{pageName}"

                    
@model GameQuest.Pages.ContentModel


<div>

    <h1>@Model._contentModel.Title</h1>

    @if (!string.IsNullOrEmpty(Model._contentModel.ImageUrl))
    {
        <img src="@Model._contentModel.ImageUrl" class="img-fluid" alt="" />
    }

    <p>@Model._contentModel.Body</p>

</div>